trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
# 1. Install Java 17
- task: JavaToolInstaller@0
  inputs:
    versionSpec: '17'
    jdkArchitectureOption: 'x64'
    jdkSourceOption: 'PreInstalled'

# 2. Build the Java App
- task: Maven@4
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean install'
    publishJUnitResults: true
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '17'

# 3. Run SonarQube Analysis using CLI
- task: SonarQubeCLI@1
  inputs:
    scannerMode: 'CLI'
    configMode: 'manual'
    cliProjectKey: 'SonarQube-Demo_Sonarqube-pro'
    cliProjectName: 'Sonarqube-pro'
    cliSources: '.'
    extraProperties: |
      sonar.host.url=$(SONAR_HOST_URL)
      sonar.login=$(SONAR_LOGIN)
  env:
    SONAR_HOST_URL: $(SONAR_HOST_URL)
    SONAR_LOGIN: $(SONAR_LOGIN)
