trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
# 1. Install Java 17
- task: JavaToolInstaller@0
  inputs:
    versionSpec: '17'
    jdkArchitectureOption: 'x64'
    jdkSourceOption: 'PreInstalled'

# 2. Build and Analyze with SonarQube
- task: Maven@4
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean install sonar:sonar'
    publishJUnitResults: true
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '17'
    options: '-Dsonar.projectKey=SonarQube-Demo_Sonarqube-pro -Dsonar.projectName=Sonarqube-pro -Dsonar.host.url=$(SONAR_HOST_URL) -Dsonar.login=$(SONAR_LOGIN)'
